/* Style de base pour l'élément input */
.case {
    width: 35px;
    height: 35px;
    margin: 1px;
    font-family: 'Arial', sans-serif; /* Police de caractère */
    font-size: 10px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Poids de la police (gras) */
    font-style: italic; /* Style de la police (italique) */
    text-transform: uppercase; /* Texte en majuscules */
    text-align: left; /* Alignement du texte */
}

/* Pour les fenêtres de moins de 600px de large */
@media (max-width: 399px) {
    .case {
        width: 35px;
        height: 35px;
        font-size: 7.5px;
    }
}

/* Pour les fenêtres de 600px à 899px de large */
@media (min-width: 400px) and (max-width: 899px) {
    .case {
        width: 45px;
        height: 45px;
        font-size: 12.5px;
    }
}

/* Pour les fenêtres de 900px à 1199px de large */
@media (min-width: 900px) and (max-width: 1199px) {
    .case {
        width: 45px;
        height: 45px;
        font-size: 12.5px;
    }
}

/* Pour les fenêtres de 1200px et plus */
@media (min-width: 1200px) {
    .case {
        width: 50px;
        height: 50px;
        font-size: 12.5px;
    }
}

.combocase {
    display: flex;
    flex-wrap: wrap;
}

.default {
    border: 2px solid blue;
}

.correct {
    border: 2px solid green;
    background-color: rgba(37, 195, 61, 0.34);
}

.all-correct {
    background-color: rgba(37, 195, 61, 0.34);
    border: 5px solid green;
}

.incorrect {
    border: 2px solid red;
    background-color: rgba(255, 47, 70, 0.45);
}
