/* Style de base pour l'élément input */
.case {
    width: 35px;
    height: 35px;
    margin: 1px;
    font-family: 'Arial', sans-serif; /* Police de caractère */
    font-size: 10px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Poids de la police (gras) */
    font-style: italic; /* Style de la police (italique) */
    text-transform: uppercase; /* Texte en majuscules */
    text-align: left; /* Alignement du texte */
}

/* Pour les fenêtres de moins de 600px de large */
@media (max-width: 399px) {
    .case {
        width: 35px;
        height: 35px;
        font-size: 7.5px;
    }
}

/* Pour les fenêtres de 600px à 899px de large */
@media (min-width: 400px) and (max-width: 899px) {
    .case {
        width: 45px;
        height: 45px;
        font-size: 12.5px;
    }
}

/* Pour les fenêtres de 900px à 1199px de large */
@media (min-width: 900px) and (max-width: 1199px) {
    .case {
        width: 45px;
        height: 45px;
        font-size: 12.5px;
    }
}

/* Pour les fenêtres de 1200px et plus */
@media (min-width: 1200px) {
    .case {
        width: 50px;
        height: 50px;
        font-size: 12.5px;
    }
}

.combocase {
    display: flex;
    flex-wrap: wrap;
}

.default {
    border: 2px solid blue;
}


/* 错误状态样式 */
.error {
    border-color: #ff4d4f !important;
    background-color: #fff1f0 !important;
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

/* 摇晃动画 */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

/* 正确状态样式 */
.correct {
    border-color: #52c41a !important;
    background-color: #f6ffed !important;
}

/* 所有正确状态 */
.all-correct {
    border-color: #1890ff !important;
    background-color: #e6f7ff !important;
}