@page "/motomakers"

@if (MakersResponse.Results is null)
{
    <Plane></Plane>
}
else
{
    <p>Total: @MakersResponse.Count</p>
    foreach (var maker in MakersResponse.Results)
    {
        <MudButton @onclick="e => FindModel(maker.Make_Name)">@maker.Make_Name</MudButton>
        @if (ModelsResponse.Count <= 0)
        {
            <p>Veuillez sélectionner une marque</p>
        }
        else
        {
            if (ModelsResponse.Results is null || ModelsResponse.Results.Count == 0)
            {
                <p>Aucun résultat</p>
            }else
            {
                    
                foreach (var model in ModelsResponse.Results)
                {
                    <p>@model.Make_Name</p>
                }
            }
        }
    }
}