/* _content/ReactorBlazorQRCodeScanner/QRCodeScanner.razor.rz.scp.css */
.my-component[b-v55x5hvbxv] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
