@page "/dominoboard"
@inject IConfiguration Configuration

<div class="board">
    @foreach (var piece in dominoPieces)
    {
        <Piece Domino="@piece.Domino" Class="@piece.Class" />
    }
</div>

@code {

}