@page "/piece"
@inject IConfiguration Configuration
<div class="pieceBorder @Class">
    <img class="individualValue" src="@DominoImage(Domino.Value1)" />
    <img class="individualValue" src="@DominoImage(Domino.Value2)" />
</div>

