body {
}
.individualValue {
    height: 6.5vw;
    width: 6.5vw;
}
.pieceBorder {
    display: flex;

    border: 0.5px solid;
    border-radius: 5px;

    height: fit-content;
}
.pieceBorderVertical {
    display: flex; /* Utilise flexbox */
    flex-direction: column; /* Empile les enfants verticalement */
    align-items: center; /* Centre les images horizontalement */
    border: 0.5px solid;
    border-radius: 5px;
}

.dominoPiece {
    position: absolute;
    display: flex;
    border: 1px solid #000;
    background-color: #f9f9f9;
    align-items: center;
}

.dominoPiece.vertical {
    flex-direction: column;
}

/*.individualValue {
    width: 50%;
    height: auto;
}

*/