body {
}
.individualValue {
    height: 7.5vw;
    width: 7.5vw;
}
.pieceBorder {
    display: flex;
    border-radius: 5px;

    height: fit-content;
}
.pieceBorderVertical {
    display: flex; /* Utilise flexbox */
    flex-direction: column; /* Empile les enfants verticalement */
    align-items: center; /* Centre les images horizontalement */
    border-radius: 5px;
}

.dominoPiece {
    position: absolute;
    display: flex;
    border: 1px solid #000;
    background-color: #f9f9f9;
    align-items: center;
}

.dominoPiece.vertical {
    flex-direction: column;
}

