body {
}
.individualValue {
    height: 15px;
    width: 15px;
}
.pieceBorder {
    display: flex;
    padding: 5px;
    border: 0.5px solid;
    border-radius: 5px;
    width:150px;
}
.pieceBorderVertical {
    display: flex; /* Utilise flexbox */
    flex-direction: column; /* Empile les enfants verticalement */
    align-items: center; /* Centre les images horizontalement */

    padding: 5px;
    border: 0.5px solid;
    border-radius: 5px;
}

.dominoPiece {
    position: absolute;
    display: flex;
    border: 1px solid #000;
    background-color: #f9f9f9;
}

.dominoPiece.vertical {
    flex-direction: column;
}

.individualValue {
    width: 50%;
    height: auto;
}

