
body {

}

.taken {
    background: #243960;
    background: linear-gradient( 45deg, rgba(0, 153, 68, .5) 25%, transparent 25%, transparent 50%, rgba(0, 153, 68, .5) 50%, rgba(0, 153, 68, .5) 75%, transparent 75%, transparent );
    background-size: 10px 10px;
    color: black;
}

.passed {
    background: #243960;
    background: linear-gradient( 45deg, #243960 0, #243960 0 25%, transparent 25%, transparent 50%, #243960 0 50%, #243960 0 75%, transparent 75%, transparent );
    background-size: 10px 10px;
    color:wheat;
}
