@page "/counter"
<style type="text/css">
.clock {
    color: var(--color-tone-1);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
</style>

<div class="clock">
    <h1>@Time</h1>
</div>

