.floating-update-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 2rem 1.5rem;
    animation: fadein 2s ease-out;
}

@keyframes fadein {
    from {
        right: -10%;
    }

    to {
        right: 2rem;
    }
}
