@page "/dominomain"
<h3>8/15/2024</h3>
<h3>Designer Note</h3>

<p>Le nombre total de pièces peut être calculé par la formule suivante :
[(𝑛+1)×(𝑛+2)]/2
</p>

<p>
    select number of players:3,4,5,6

</p>
<p>
    select number of dominos:6/7/8/9 -> 28/36/45/55
    full hand
</p>
<p>from 0 to 9 (55)</p>
<p>strip 0:0 3-18 domino per player</p>
<p>strip 0:0, random 2, 4-13 domino per player</p>
<p>5-11 domino per player</p>
<p>strip 0:0, 6-11 domino per player</p>
<br />
<p>from 0 to 8 (45)</p>
<p>3-15 domino per player</p>
<p>strip 0:0 4-11 domino per player</p>
<p>5-9 domino per player</p>
<p>strip 0:0,random 2, 6-7 domino per player</p>
<br />
<p>from 0 to 7 (36)</p>
<p>3-12 domino per player</p>
<p>4-9 domino per player</p>
<p>strip 0:0, 5-7 domino per player</p>
<p>6-6 domino per player</p>
<br />
<p>from 0 to 6 (28)</p>
<p>strip 0:0 3-9 domino per player</p>
<p> 4-7 domino per player</p>
<p>strip 0:0, random 2, 5-5 domino per player</p>

<br />

@code {

}
